<template name="tmpl_help">


	<!-- CONTENT
	================================================== -->
	<div class="bs-docs-section">
		<div class="page-header">
			<h1>Help</h1>
		</div>

		<h2>Timelines</h2>
		<h3>Actions</h3>
		<!-- Table -->
		<table class="table">
			<tr><td><strong>Click on Description</strong></td><td>Edit description</td></tr>
			<tr><td><strong>Click on Event / Timeline</strong></td><td>Edit details or delete</td></tr>
			<tr><td><strong>Mouse Scroll-Wheel</strong></td><td>Zoom in and out</td></tr>
			<tr><td><strong>Mouse Drag Left or Right</strong></td><td>Move timeline left or right</td></tr>
			<tr><td><strong>Mouse Drag Selected Event / Timeline</strong></td><td>Move Event / Timeline left or right</td></tr>
			<tr><td><strong>Mouse Drag Selected Timeline Edge</strong></td><td>Increase / decrease size of timeline</td></tr>
			<tr><td><strong>Double-Click</strong></td><td>Creates a new event</td></tr>
			<tr><td><strong>Click New Icon</strong></td><td><img src="/img/16/new.png"/> Creates a new timeline</td></tr>
			<tr><td><strong>Click Zoom-In Icon</strong></td><td><img src="/img/16/zoomin.png"/> Zoom in</td></tr>
			<tr><td><strong>Click Zoom-Out Icon</strong></td><td><img src="/img/16/zoomout.png"/> Zoom out</td></tr>
			<tr><td><strong>Click Left Icon</strong></td><td><img src="/img/16/moveleft.png"/> Move timeline left</td></tr>
			<tr><td><strong>Click Right Icon</strong></td><td><img src="/img/16/moveright.png"/> Move timeline right</td></tr>
		</table>

		<h3>Definitions</h3>
		<!-- Table -->
		<table class="table">
			<tr><td><strong>Event</strong></td><td>Text for specific time (no range)</td></tr>
			<tr><td><strong>Timeline</strong></td><td>Text for a time range</td></tr>
			<tr><td><strong>Red line</strong></td><td>Date and time for now</td></tr>
		</table>
	</div>

</template>


