<template name="tmpl_persons_list">
	<div class="posts">
		{{#each persons}}
			{{> tmpl_person_item}}
		{{/each}}

		{{#if personsReady}}
		{{#unless allPersonsLoaded}}
		<a id="persons" class="load-more" href="#">Load more</a>
		{{/unless}}
		{{else}}
		<div>{{> spinner}}</div>
		{{/if}}
	</div>
</template>


<template name="tmpl_sorted_persons_list">
	<ul class="nav nav-tabs nav-justified">
		<li><a href="/sciFiMovies">Movies</a></li>
		<li class="active"><a href="#" id="a-people">People</a></li>
	</ul>

	{{> tmpl_breadcrumbs breadcrumbs}}

	{{> tmpl_persons_list personsHandle}}
</template>
