<template name="tmplHeader">
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">MyZeit</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					{{#if hasNoSidebar}}
					<li>
						<button id="show-sidebar" type="button" class="btn btn-default navbar-btn" title="Show side-bar"><span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</li>
					{{/if}}
					<li class="{{activeRouteClass  'tmplSortedMovies'}}">
						<a href="{{pathFor 'tmplSortedMovies'}}" title="Browse SciFi movie library">SciFi</a>
					</li>
					{{#if currentUser}}
					<li class="{{activeRouteClass  'tmpl_movie_add'}}">
						<a href="{{pathFor 'tmpl_movie_add'}}" title="Add a movie to library">Add Movie</a>
					</li>
					<li class="dropdown">
						{{> notifications}}
					</li>
					{{/if}}
					{{#if isAdmin}}
					<!-- ADMIN ACTIONS -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/usersManage">Users</a></li>
						</ul>
					</li>
					{{/if}}
				</ul>

				<div class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input id="header-search" type="text" class="form-control" placeholder="Search" value="{{searchText}}" title="Movie search" />
					</div>
				</div>
				<button id="btn-search" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-search"></span>
				</button>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/settings">Settings</a></li>
					<li> <p class="navbar-text">{{loginButtons}}</p> </li>
				</ul>

			</nav>
		</div>
	</header>
</template>
