<template name="tmplHome">

	<!-- BANNER
	================================================== -->
	<div class="bs-header" id="content">
		<div class="container">
			<h1>MyZeit</h1>
			<p>Fanboy Movie Site - made with <a href="http://meteor.com">meteor</a></p>
		</div>
	</div>

	<!-- CONTENT
	================================================== -->
	<div class="bs-docs-section">
		<div class="page-header">
			<h1 id="dropdowns">Features</h1>
		</div>
		<p class="lead">Search, discuss, and graph your favorite movies.</p>

		<h3 id="dropdowns-example">Why?</h3>
		<ul>
			<li>Help keep track of nerdy movie information</li>
			<li>Create your own movie list of favorites</li>
			<li>Make and share movie timelines</li>
		</ul>

		<!--
		<button id="btn-timeline-example" type="button" class="btn btn-primary">OK, show me what a movie timeline looks like</button>
		-->
	</div><!-- SECTION Features -->

</template>
