<template name="tmplMoviesList">
	<div class="posts">
        {{#each movies}}
	        {{> tmplMovieItem}}
        {{/each}}

        {{#if moviesReady}}
	        {{#unless allMoviesLoaded}}
				<a class="load-more" href="#">Load more</a>
	        {{/unless}}
	    {{else}}
		    <div>{{> spinner}}</div>
        {{/if}}
    </div>
</template>

<template name="tmplSortedMovies">
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#">Movies</a></li>
		<li><a href="/persons" id="a-people">People</a></li>
	</ul>

	{{> tmpl_breadcrumbs breadcrumbs}}

	{{> tmplMoviesList options}}
</template>

<!--
<template name="tmplSortedMovies_updated">
	{{> tmpl_breadcrumbs breadcrumbs}}

	{{> tmplMoviesList options}}
</template>
-->