<template name="tmplMovieTimelineList">
		{{#each movies}}
		{{> tmplMovieTimeline2}}
		{{/each}}

		{{#if moviesReady}}
		{{#unless allMoviesLoaded}}
		<a class="load-more" href="#">Load more</a>
		{{/unless}}
		{{else}}
		<div>{{> spinner}}</div>
		{{/if}}
</template>


<template name="tmplSortedMovieTimelineList">
	{{> tmplMovieTimelineList options}}
</template>


<template name="tmplMovieTimeline2">
	<div class="post">
		<div class="post-content">
			<h4><a href="/movieTimeline/{{_id}}">{{description}}</a></h4>
			<p>{{_id}}</p>
			<p>{{author}}, created: {{created}}, createdAgo: {{createdAgo}}, comment_count: {{comment_count}},
				vote_count: {{vote_count}}, upvoters: [{{upvoters}}]
			</p>
		</div>
	</div>
</template>
