	<template name="tmplMovieDetail">
	{{> tmpl_breadcrumbs breadcrumbs}}

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#">Movie</a></li>
		<li><a href="/sciFiMovies/timelines/{{_id}}">Timelines</a></li>
		<li><a href="/sciFiMovies/cast/{{_id}}">Cast</a></li>
		<li><a href="/sciFiMovies/facts/{{_id}}">Facts</a></li>
		<li><a href="/sciFiMovies/poster/{{_id}}">Poster</a></li>
	</ul>

	<div class="panel panel-purple">
		<div class="panel-heading">

			<h2 class="panel-title">{{title}}
				<div class="pull-right" style="margin-top: -5px;">
					{{glyphicon "heart" "heart-empty" "icon-heart" isFav "Add/remove from favs"}}
					&nbsp;&nbsp;&nbsp;
					{{glyphicon "eye-open" "eye-close" "icon-eye" hasSeen "Seen the movie"}}
					{{#if canEdit}}
						<button type="button" class="btn btn-default btn-sm" id="btnEditToggle">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
					{{/if}}
				</div>
		<!--<div class="clearfix"></div>-->
			</h2>
		</div>
		<div class="panel-body">

			<!--<div class="row">-->
				<!--<div class="col-sm-3">-->
					<img src="{{smallPoster}}" title="{{title}}" />
				<!--</div>-->
				<!--<div class="col-sm-1">-->
				<!--</div>-->
				<!--<div class="col-sm-7">-->
					<!--<form class="add modal-nav-box box-hide form-horizontal" id="form_seen_it">-->
						<!--<div class="form-group row">-->
							<!--<label class="col-sm-4 control-label" for="seen-it">Seen it</label>-->
							<!--<div class="col-sm-8">-->
								<!--<div class="btn-group" data-toggle="buttons" id="seen-it">-->
									<!--<label class="btn btn-primary">-->
										<!--<input type="radio" name="seen-it" id="true"> Yes-->
									<!--</label>-->
									<!--<label class="btn btn-primary">-->
										<!--<input type="radio" name="seen-it" id="false"> No&nbsp;-->
									<!--</label>-->
								<!--</div>-->
							<!--</div>&lt;!&ndash; col &ndash;&gt;-->
						<!--</div>&lt;!&ndash; row &ndash;&gt;-->

						<!--<div class="form-group row">-->
							<!--<label class="col-sm-4 control-label" for="want-to-see-it">Want to see it</label>-->
							<!--<div class="col-sm-8">-->
								<!--<div class="btn-group" data-toggle="buttons" id="want-to-see-it">-->
									<!--<label class="btn btn-primary">-->
										<!--<input type="radio" name="want-to-see-it" id="true"> Yes-->
									<!--</label>-->
									<!--<label class="btn btn-primary">-->
										<!--<input type="radio" name="want-to-see-it" id="false"> No&nbsp;-->
									<!--</label>-->
								<!--</div>-->
							<!--</div>&lt;!&ndash; col &ndash;&gt;-->
						<!--</div>&lt;!&ndash; row &ndash;&gt;-->

					<!--</form>-->
				<!--</div>&lt;!&ndash; col &ndash;&gt;-->
			<!--</div>&lt;!&ndash; row &ndash;&gt;-->


			<form class="add modal-nav-box box-hide form-horizontal" id="form_movie">

				{{#if isAdmin}}
					{{form_input "_id" "_id" _id false}}
				{{/if}}

				{{form_input "Title" "title" title canEditAndEditToggle true}}
				{{form_input "Year" "year" year canEditAndEditToggle false}}
				{{form_date "Release Date" "release_date" formattedReleaseDate canEditAndEditToggle true}}
				{{form_input "Original Title" "original_title" original_title canEditAndEditToggle false}}
				{{form_select "MPAA Rating" "mpaa_rating" mpaa_rating options "" canEditAndEditToggle true}}
				{{form_input "Runtime (Minutes)" "runtime" runtime canEditAndEditToggle false}}
				{{form_input "Tagline" "tagline" tagline canEditAndEditToggle false}}
				{{form_textarea "Overview" "overview" overview canEditAndEditToggle false}}
				{{form_textarea "Critics Consensus" "critics_consensus" critics_consensus canEditAndEditToggle false}}
				{{form_checkbox "Adult Content" "adult" adult canEditAndEditToggle true}}

				{{form_static "Author" "author" author true}}
				{{#if isAdmin}}
					{{form_static "Author UserId" "userId" userId true}}
				{{/if}}
				{{form_static "Favs" "favs_cnt" favs_cnt true}}
				{{form_static "Views" "click_cnt" click_cnt true}}
				{{form_static "Seen" "seen_cnt" seen_cnt true}}
				{{form_static "Rating" "critics_score" critics_score true}}
				{{form_static "Created" "created" createdAgo false}}
				{{form_static "Updated" "updated" updatedAgo false}}
				{{#if canEdit}} {{form_select "Status" "status" status statusOptions "" canEditAndEditToggleAdmin true}} {{/if}}

				<div class="form-group">
					<div class="col-offset-2 col-sm-4">
						{{#if canEditAndEditToggle}}
							<button type="button" class="btn btn-primary" id="btnUpdateMovie">Update</button>
							<button type="button" class="btn btn-danger" id="btnDeleteMovie">Delete</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

</template>


<template name="tmplMovieDetail_OLD">
	{{> tmpl_breadcrumbs breadcrumbs}}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2 class="panel-title">{{title}}</h2>
		</div>
		<div class="panel-body">


			<form class="add modal-nav-box box-hide form-horizontal" id="form_movie">

				{{#if isAdmin}}
				<div class="form-group row">
					<label for="_id" class="col-sm-2 control-label">_id</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="_id" value="{{_id}}" readonly />
					</div>
				</div>
				<div class="form-group row">
					<label for="id" class="col-sm-2 control-label">id(MyMovieDB)</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="id" value="{{id}}" readonly />
					</div>
				</div>
				<div class="form-group row">
					<label for="voters" class="col-sm-2 control-label">voters</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="voters" value="{{upvoters}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="backdrop_path" class="col-sm-2 control-label">backdrop_path</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="backdrop_path" value="{{backdrop_path}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="poster_path" class="col-sm-2 control-label">poster_path</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="poster_path" value="{{poster_path}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="popularity" class="col-sm-2 control-label">popularity</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="popularity" value="{{popularity}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="vote_average" class="col-sm-2 control-label">vote_average</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="vote_average" value="{{vote_average}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="vote_count" class="col-sm-2 control-label">vote_count</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="vote_count" value="{{vote_count}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="comment_count" class="col-sm-2 control-label">comment_count</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="comment_count" value="{{comment_count}}" {{isReadOnly}} />
					</div>
				</div>
				{{else}}
				<input type="hidden" value="{{_id}}" name="_id"/>
				{{/if}}

				{{form_input "title" title}}
				{{form_input "adult" adult}}
				{{form_input "original_title" original_title}}
				{{form_input "release_date" release_date}}
				<!--
				<div class="form-group row">
					<label for="title" class="col-sm-2 control-label">title</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" value="{{title}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="adult" class="col-sm-2 control-label">adult</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="adult" value="{{adult}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="original_title" class="col-sm-2 control-label">original_title</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="original_title" value="{{original_title}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="release_date" class="col-sm-2 control-label">release_date</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="release_date" value="{{release_date}}" {{isReadOnly}} />
					</div>
				</div>
				-->

				<div class="form-group">
					<div class="col-offset-2 col-sm-4">
						{{#if canEditAndEditToggle}}
						<button type="button" class="btn btn-primary" id="btnUpdateMovie">Update</button>
						<button type="button" class="btn btn-primary" id="btnCancelMovie">Cancel</button>
						<button type="button" class="btn btn-danger" id="btnDeleteMovie">Delete</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>

	{{> tmplSortedMovieTimelineList}}

</template>
