<template name="tmplMovieTimeline">

	<div class="page-header">
		<h1 id="dropdowns">Movie Graph</h1>
	</div>

	<p class="lead">Diagram</p>

	<div id="mytimeline"></div>

	<p class="lead">No movie diagram</p>

	<button id="create-movie-diagram" type="button" class="btn btn-primary">New Movie Diagram</button>

</template>

<template name="tmpl_movie_timeline_detail">
	{{> tmpl_breadcrumbs breadcrumbs}}

	<div class="panel panel-primary">
		<div class="panel-body">

			<form class="add modal-nav-box box-hide form-horizontal" id="form_movie_timeline">

				{{#if isAdmin}}
				<div class="form-group row">
					<label for="_id" class="col-sm-2 control-label">_id</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="_id" value="{{_id}}" readonly />
					</div>
				</div>
				{{else}}
				<input type="hidden" value="{{_id}}" name="_id"/>
				{{/if}}
				<div class="form-group row">
					<label for="description" class="col-sm-2 control-label">description</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="description" value="{{description}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="author" class="col-sm-2 control-label">author</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="author" value="{{author}}" {{isReadOnly}} />
					</div>
				</div>
				<div class="form-group row">
					<label for="data" class="col-sm-2 control-label">data</label>
					<div class="col-sm-6">
						<input type="textarea" class="form-control" id="data" value="{{data}}" {{isReadOnly}} />
					</div>
				</div>

				<div class="form-group">
					<div class="col-offset-2 col-sm-4">
						{{#if form_update}}
						<button type="button" class="btn btn-primary" id="btnUpdateMovieTimeline">Update</button>
						<button type="button" class="btn btn-primary" id="btnCancelMovieTimeline">Cancel</button>
						{{/if}}
						{{#if form_create}}
						<button type="submit" class="btn btn-primary" id="btnCreateMovieTimeline">Create</button>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
