<template name="tmplMovieFactsList">
	{{> tmpl_breadcrumbs breadcrumbs}}

	<ul class="nav nav-tabs nav-justified">
		<li><a href="/sciFiMovies/{{movieId}}">Movie</a></li>
		<li><a href="/sciFiMovies/timelines/{{movieId}}">Timelines</a></li>
		<li><a href="/sciFiMovies/cast/{{movieId}}">Cast</a></li>
		<li class="active"><a href="#">Facts</a></li>
		<li><a href="/sciFiMovies/poster/{{movieId}}">Poster</a></li>
	</ul>

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h2 class="panel-title">{{title}}</h2>
		</div>
		<div class="panel-body">

			{{> tmpl_fact_add}}
			<hr/>
			{{> tmpl_facts_list movieFactsHandle}}
		</div>
	</div>

</template>

<template name="tmpl_facts_list">
	<div class="posts">
		{{#each facts}}
			{{> tmpl_movie_fact_item}}
		{{/each}}

		{{#if ready}}
			{{#unless loaded}}
				<a class="load-more" href="#">Load more</a>
			{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
		{{/if}}
		{{#if isEmpty}}
			I didn't find any facts.  Please add some.
		{{/if}}
	</div>
</template>
