<template name="tmplFooter">

	<footer class="bs-footer" role="contentinfo">
		<div class="container">

			<ul class="footer-links">
				<li><a href="http://lucidservices.com" target="_blank">Blog</a></li>
				<li class="muted">&middot;</li>
				<li><a href="http://almende.github.io/chap-links-library/timeline.html" target="_blank">Timeline</a></li>
				<li class="muted">&middot;</li>
				<li><a href="http://meteor.com" target="_blank">Meteor</a></li>
				<li class="muted">&middot;</li>
				<li><a href="http://developer.rottentomatoes.com/docs" target="_blank">Rotten Tomatoes API</a></li>
			</ul>

		</div>
	</footer>

</template>
