<template name="tmplSidebar">

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h3 class="panel-title">Top Rated</h3>
		</div>
		<div class="panel-body">
			<ol>
				<li><a href="#">2001: A Space Odyssey</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
			</ol>
			<a href="#">See them all</a></li>
		</div>
	</div>

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h3 class="panel-title">Updates</h3>
		</div>
		<div class="panel-body">
			<ol>
				<li><a href="#">2001: A Space Odyssey</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
			</ol>
			<a href="#">See them all</a></li>
		</div>
	</div>

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h3 class="panel-title">Most Liked</h3>
		</div>
		<div class="panel-body">
			<ol>
				<li><a href="#">2001: A Space Odyssey</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
			</ol>
			<a href="#">See them all</a></li>
		</div>
	</div>

	<div class="panel panel-purple">
		<div class="panel-heading">
			<h3 class="panel-title">My Favorites</h3>
		</div>
		<div class="panel-body">
			<ol>
				<li><a href="#">2001: A Space Odyssey</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
				<li><a href="#">another</a></li>
			</ol>
			<a href="#">See them all</a></li>
		</div>
	</div>

</template>
